header {
    background-image: url(../img/wall.png);
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

main {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

body {
    background-image: url(../img/cork.png)
}